/* global style */
@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

a{
  color: #000;
  text-decoration: none;
}
h2{
  color: #000;
  text-decoration: none;
}
.container{
  max-width: 1160px;
  padding: 0 40px;
  margin: 0 auto;
}

/* header */
header{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  .container{
    height: 100px;
    display: flex;
    align-items: center;
    max-width: none;
    padding: 0 70px;
  }
}
/* logo */
.area_header_logo{
  .logo{
    display: block;
  }
  img{
    height: 60px;
    vertical-align: bottom;
  }
}

/* header_nav */
.nav_header{
  margin:0 0 0 auto;
}
.list_nav_header{
  display: flex;
  align-items: center;
  margin:0 -15px;
  li{
    padding: 0 15px;
  }
  a{
    color: #fff;
    font: 400 18px/1em 'futura PT', 'noto sans japanese',sans-serif;
  }
}

/* top_view*/
.area_top_view{
  background: url(../img/top_view.jpg) no-repeat bottom center;
  background-size:cover ;
  .container{
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img{
      height: 150px;
      vertical-align: bottom;
      border-radius: 50%;
    }
    p{
      color: #fff;
      margin: 20px 0 0;
      letter-spacing: .06em;
      position: relative;
      font:400 27px/1em 'futura PT', 'noto sans japanese',sans-serif;
    }
  }
}

/* area_main*/
[class*="area_main"] {
  padding: 80px 0 120px;
}

/* head*/
.head_main {
    margin: 0 0 100px;
    display: flex;
    justify-content: center;
    .ttl{
      font: 500 56px/1em 'futura PT','noto sans japanese',sans-serif;
      padding: 0 0 12px;
      position: relative;
      &::after{
        content: "";
        display: block;
        width: 100%;
        height: 5px;
        background: rgb(255, 174, 0);
        position: absolute;
        bottom: -3;
        left: 0;
      }
    }
}

.bg_black {
  background: #01010a;
  h2{
    color:#fff;
  }
}

/* footer */
footer{
  > .container {
    padding: 0 0 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.copyright {
  font: 300 14px/1em 'futura PT','noto sans japanese',sans-serif;
  margin: 30px 0 0;
}